pip install pandas scikit-learn nltk matplotlib streamlit

add job data file & syllabus csv file 


MACHINELEARNING algo.


streamlit
pandas
scikit-learn
sentence-transformers
matplotlib
seaborn
nltk
